@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --border-radius: 0.5rem;
    --header-color: #313952;
    --font-color: #e7e7e7;
    --font-color-hover: #ffffff;
    --font-color-active: #008cff;

    --menu-font-size: 2rem;
    --padding-header: 0.6rem;
    --menu-underline-offset: 0.5rem;
    --menu-underline-height: 0.3rem;
    --menu-gap: 2.8rem;

    --perfil-notificacao-gap: 1.6rem;
    
    --img-notificacao-size: 2rem;
    --img-notificacao-padding-y: 0.8rem;
    --img-notificacao-padding-x: 1.8rem;
    --img-notificacao-color: #4b5872;
    --img-notificacao-color-hover: #5a6581;

    --botao-perfil-gap: 1.2rem;
    --img-perfil-size: 5rem;
    --img-perfil-padding: 0.2rem;
    --perfil-font-size: 2.5rem;
    --perfil-color-hover: #008cff59;

    --barra-pesquisa-height: 3.5rem;
    --barra-pesquisa-color: #333a4b;
    --barra-pesquisa-color-hover: #282d3a;
    --barra-pesquisa-duration: 0.3s;
    --barra-pesquisa-font-size: 2rem;
    --img-lupa: 2.5rem;

    --filtros-font-size: 1.6rem;
}

html, body{
    font-size: 62.5%;
    width: 100%;
    height: 100%; 
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    width: 100%;
    padding: var(--padding-header);
    box-sizing: border-box;
}

.header-menu{
    display: flex;
    gap: var(--menu-gap);
    list-style-type: none;
    font-size: var(--menu-font-size);
    font-family: "Moderustic";
    flex-grow: 1;
}

.header-menu a{
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.header-menu a:hover{
    color: var(--font-color-hover);
}

.header-menu a.biblioteca{
    color: var(--font-color-active);
    text-decoration: underline solid var(--menu-underline-height);
    text-underline-offset: var(--menu-underline-offset);
}

.perfil-notificacao{
    display: flex;
    gap: var(--perfil-notificacao-gap);
    align-items: center;
    margin-right: 3rem;
}

.botao-notificacao{
    padding: var(--img-notificacao-padding-y) var(--img-notificacao-padding-x);
    background-color: var(--img-notificacao-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center; 
    justify-content: center;
}

.img-notificação{
    width: var(--img-notificacao-size);
    height: var(--img-notificacao-size);
}

.botao-notificacao:hover{
    background-color: var(--img-notificacao-color-hover);
}

.botao-perfil{
    display: flex;
    align-items: center;
    gap: var(--botao-perfil-gap);
    color: var(--font-color-active);
    text-decoration: none;
    padding: var(--img-perfil-padding); 
    background-color: var(--img-notificacao-color);
}

.botao-perfil:hover{
    background-color: var(--perfil-color-hover);
}

.img-perfil{
    width: var(--img-perfil-size);
    height: var(--img-perfil-size);
    border-right: 0.3rem solid var(--font-color-active);
}

.botao-perfil p{
    font-size: var(--perfil-font-size);
    margin: 0 1rem 0 0;
    font-family: "Roboto";
}

.main{
    display: flex;
    flex-grow: 1;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    align-content: flex-start;
}

.menu-busca{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: var(--img-notificacao-color);
    box-sizing: border-box;

}

.barra-pesquisa{
    width: 95%;
    height: var(--barra-pesquisa-height);
    background-color: var(--barra-pesquisa-color);
    border-radius: var(--border-radius);
    align-self: center;
    margin-top: 3%;
    display: flex;
    align-items: center;
    transition-property: background-color, box-shadow;
    transition-duration: var(--barra-pesquisa-duration), var(--barra-pesquisa-duration);
    gap: 1.5rem;
}

.img-pesquisa{
    width: var(--img-lupa);
    height: var(--img-lupa);
    margin-left: 2.5%;
}

.texto-buscar{
    opacity: 0;
    font-family: "Roboto";
    color: #9ca2ad;
    font-size: var(--barra-pesquisa-font-size);
    font-style: italic;
    transition-property: opacity;
    transition-duration: var(--barra-pesquisa-duration);
}

.barra-pesquisa:hover .texto-buscar{
    opacity: 1;
}

.barra-pesquisa:hover{
    cursor: text;
    background-color: var(--barra-pesquisa-color-hover);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.filtros{
    font-size: var(--filtros-font-size);
    text-transform: uppercase;
    font-family: "Roboto";
    margin: 0;
    margin: 2.6rem 0 0 1rem;
    color: #34a4ff;
}

.opcoes-genero{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-left: 2rem;
    margin-bottom: 1.6rem;
    padding: 0;
}

.opcoes-genero a{
    color: #d6dfe6;
    text-decoration: none;
    font-family: "Roboto";
    font-size: var(--filtros-font-size);
}

.opcoes-genero a:hover{
    color: var(--font-color-hover);
}