@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --header-color: #313952;
    --font-color: #e7e7e7;
    --font-color-hover: #ffffff;
    --font-color-active: #008cff;

    --menu-font-size: 2rem;
    --padding-header: 0.6rem;
    --menu-underline-offset: 0.5rem;
    --menu-underline-height: 0.3rem;
    --menu-gap: 2.8rem;

    --img-notificacao-size: 2rem;
    --img-notificacao-padding-y: 0.8rem;
    --img-notificacao-padding-x: 1.8rem;
    --img-notificacao-border-radius: 0.5rem;
    --img-notificacao-color: #4b5872;
    --img-notificacao-color-hover: #5a6581;
}

html{
    font-size: 62.5%;
    
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    width: auto;
    padding: var(--padding-header);
}

.header-menu{
    display: flex;
    gap: var(--menu-gap);
    list-style-type: none;
    font-size: var(--menu-font-size);
    font-family: "Moderustic";
    flex-grow: 1;
}

.header-menu a{
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.header-menu a:hover{
    color: var(--font-color-hover);
}

.header-menu a.biblioteca{
    color: var(--font-color-active);
    text-decoration: underline solid var(--menu-underline-height);
    text-underline-offset: var(--menu-underline-offset);
}

.perfil-notificacao{
    display: flex;
}

.img-notificação{
    width: var(--img-notificacao-size);
    height: var(--img-notificacao-size);
    padding: var(--img-notificacao-padding-y) var(--img-notificacao-padding-x);
    background-color: var(--img-notificacao-color);
    border-radius: var(--img-notificacao-border-radius);
}

.img-notificação:hover{
    background-color: var(--img-notificacao-color-hover);
}